@model FL_Server.Models.Models.StudyCenter

@{
    ViewData["Title"] = "Create";
}



<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">
                StudyCenter
                <small>Create</small>
            </h3>
        </div>

    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Study Catalogue Reference</label>
                        <select asp-for="StudyCatalogueId" class="form-control" asp-items="ViewBag.StudyCatalogueId"></select>
                    </div>

                    @* <label class="form-check-label">
                        <input class="form-check-input" asp-for="StudyType" /> @Html.DisplayNameFor(model => model.StudyType)
                        </label>
                    *@

                    <div class="form-group">
                        <label>Study Type</label>
                        <div class="radio-inline">
                            <label class="radio radio-lg">
                                <input asp-for="StudyType" type="radio" value="False" checked="checked">
                                <span></span>Private
                            </label>
                            <label class="radio radio-lg">
                                <input asp-for="StudyType" type="radio" value="True">
                                <span></span>Public
                            </label>

                        </div>
                    </div>



@*
                    <div class="form-group">
                        <label asp-for="ApplicationUserId" class="control-label"></label>
                        <select asp-for="ApplicationUserId" class="form-control select2 select2-hidden-accessible" multiple="multiple" asp-items="ViewBag.ApplicationUserId"></select>
                    </div>

*@





                    <div class="form-group">
                                                <label class="control-label">Users?</label>

                        <select  asp-for="ApplicationUserId" class="form-control select2 select2-hidden-accessible" id="kt_select2_3"  multiple="multiple" data-select2-id="kt_select2_3" tabindex="-1" aria-hidden="true" asp-items="ViewBag.ApplicationUserId">
                           
                            
                        </select>
                    </div>

                    <br />

                    
                    <div class="form-group">
                                                <label class="control-label">Scripts?</label>

                        <select  asp-for="FileModelId" class="form-control select2 select2-hidden-accessible" id="kt_select2_2"  multiple="multiple" data-select2-id="kt_select2_2" tabindex="-1" aria-hidden="true" asp-items="ViewBag.FileModelId">
                           
                            
                        </select>
                    </div>


@*

                    <div class="form-group">
                        <label class="control-label">Script</label>
                        <select asp-for="FileModelId" class="form-control" multiple="multiple" asp-items="ViewBag.FileModelId">
                            <option label=" "></option>

                        </select>
                    </div>*@
                    <br />

                    <div class="form-group">

                        <a asp-action="Index" asp-controller="ScriptCenter" class="btn btn-primary">Upload Your Own Script?</a>

                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a asp-action="Index" class="btn btn-light-primary font-weight-bold">Back to List</a>
        @*        <a href="#" class="btn btn-outline-secondary font-weight-bold">Learn more</a>
        *@
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>





<script src="/assets/js/select2.js"></script>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
