@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
    <base href="">
    <title>Federated Learning</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="page-loading-enabled page-bg">


    <div class="page-loader flex-column">
        <img alt="Logo" class="max-h-135px" src="/assets/media/logos/logo.svg">
        <div class="d-flex align-items-center mt-5">
            <span class="spinner-border text-primary" role="status"></span>
            <span class="text-muted fs-6 fw-bold ms-5">Loading...</span>
        </div>
    </div>


    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page launcher d-flex flex-row flex-column-fluid me-lg-5" id="kt_page">
            <!--begin::Content-->
            <div class="d-flex flex-row-fluid">
                <!--begin::Container-->
                <div class="d-flex flex-column flex-row-fluid align-items-center">
                    <!--begin::Menu-->
                    <div class="d-flex flex-column flex-column-fluid mb-5 mb-lg-10">
                        <!--begin::Brand-->
                        <div class="d-flex flex-center pt-10 pt-lg-0 mb-10 mb-lg-0 h-lg-225px">
                            <!--begin::Sidebar toggle-->
                            <div class="btn btn-icon btn-active-color-primary w-30px h-30px d-lg-none me-4 ms-n15" id="kt_sidebar_toggle">
                                <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
                                        <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </div>
                            <!--end::Sidebar toggle-->
                            <!--begin::Logo-->
                            <a asp-area="EndUser" asp-controller="Home" asp-action="Index">
                                <img alt="Logo" src="~/assets/media/logos/logo2.png" class="h-200px h-lg-80px" style="height: 200px!important" />
                            </a>
                            <!--end::Logo-->
                        </div>
                        <!--end::Brand-->
                        <!--begin::Row-->
                        <div class="row g-7 w-xxl-850px">
                            <!--begin::Col-->
                            <div class="col-xxl-5">
                                <!--begin::Card-->
                                <div class="card border-0 shadow-none h-lg-100" style="background-color: #A838FF">
                                    <!--begin::Card body-->
                                    <div class="card-body d-flex flex-column flex-center pb-0 pt-15">
                                        <!--begin::Wrapper-->
                                        <div class="px-10 mb-10">
                                            <!--begin::Heading-->
                                            <h3 class="text-white mb-2 fw-boldest ttext-center text-uppercase mb-6">Remote Data Science</h3>
                                            <!--end::Heading-->
                                            <!--begin::List-->
                                            <div class="mb-7">
                                                <!--begin::Item-->
                                                <div class="d-flex align-items-center mb-2">
                                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                                                    <span class="svg-icon svg-icon-4 svg-icon-white opacity-75 me-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                            <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="black" />
                                                            <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="black" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                    <span class="text-white opacity-75">Data Stays Local</span>
                                                </div>
                                                <!--end::Item-->
                                                <!--begin::Item-->
                                                <div class="d-flex align-items-center mb-2">
                                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                                                    <span class="svg-icon svg-icon-4 svg-icon-white opacity-75 me-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                            <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="black" />
                                                            <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="black" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                    <span class="text-white opacity-75">User Friendly Interface</span>
                                                </div>
                                                <!--end::Item-->
                                                <!--begin::Item-->
                                                <div class="d-flex align-items-center mb-2">
                                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                                                    <span class="svg-icon svg-icon-4 svg-icon-white opacity-75 me-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                            <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="black" />
                                                            <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="black" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                    <span class="text-white opacity-75">Collaborative Learning</span>
                                                </div>
                                                <!--end::Item-->
                                            </div>
                                            <!--end::List-->
                                            <!--begin::Link-->
                                            <a asp-area="EndUser" asp-controller="main" asp-action="index" class="btn btn-hover-rise text-white bg-white bg-opacity-10 text-uppercase fs-7 fw-bolder">Go To Dashboard</a>
                                            <!--end::Link-->
                                        </div>
                                        <!--end::Wrapper-->
                                        <!--begin::Illustrations-->
                                        <img class="mw-100 h-225px mx-auto mb-lg-n18" src="~/assets/media/illustrations/dozzy-1/17.png" />
                                        <!--end::Illustrations-->
                                    </div>
                                    <!--end::Card body-->
                                </div>
                                <!--end::Card-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-xxl-7">
                                <!--begin::Row-->
                                <div class="row g-lg-7">
                                    <!--begin::Col-->
                                    <div class="col-sm-12">
                                        <!--begin::Card-->
                                        <div @*asp-area="EndUser" asp-controller="Home" asp-action="Clients"*@ class="card border-0 shadow-none min-h-200px mb-7" style="background-color: sandybrown">
                                            <!--begin::Card body-->
                                            <div class="card-body d-flex flex-center flex-wrap">
                                                <!--begin::Illustrations-->
                                                <img class="mw-100 h-200px me-4 mb-5 mb-lg-0" src="~/assets/media/illustrations/dozzy-1/19-dark.png" />
                                                <!--end::Illustrations-->
                                                <!--begin::Heading-->
                                                <div class="d-flex flex-column align-items-center align-items-md-start flex-grow-1">
                                                    <!--begin::Heading-->
                                                    <h3 class="text-gray-900 fw-boldest text-uppercase mb-5">FL Clients</h3>
                                                    <!--end::Heading-->
                                                    <!--begin::List-->
                                                    <div class="text-gray-800 mb-5 text-center text-md-start">
                                                        Dial in as FL Clients
                                                        <br />For Everyone
                                                    </div>
                                                    <!--end::List-->
                                                    <!--begin::Link-->
                                            <a asp-area="EndUser" asp-controller="Home" asp-action="Clients" class="btn btn-hover-rise text-gray-900 text-uppercase fs-7 fw-bolder" style="background-color: #f2b8bb">Ready to Learn?</a>
                                                    <!--end::Link-->
                                                </div>
                                                <!--end::Heading-->
                                            </div>
                                            <!--end::Card body-->
                                        </div>
                                        <!--end::Card-->
                                    </div>
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Card-->
                                <div class="card border-0 shadow-none min-h-200px" style="background-color: #D5D83D">
                                    <!--begin::Card body-->
                                    <div class="card-body d-flex flex-center flex-wrap">
                                        <!--begin::Illustrations-->
                                        <img class="mw-100 h-200px me-4 mb-5 mb-lg-0" src="~/assets/media/illustrations/dozzy-1/5.png" />
                                        <!--end::Illustrations-->
                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-column align-items-center align-items-md-start flex-grow-1">
                                            <!--begin::Heading-->
                                            <h3 class="text-gray-900 fw-boldest text-uppercase mb-5">Quick Guide</h3>
                                            <!--end::Heading-->
                                            <!--begin::List-->
                                            <div class="text-gray-800 mb-5 text-center text-md-start">
                                                Explore our powerful
                                                <br />documentation
                                            </div>
                                            <!--end::List-->
                                            <!--begin::Link-->
                                            <a href="" class="btn btn-hover-rise text-gray-900 text-uppercase fs-7 fw-bolder" style="background-color: #EBEE51">Learn More</a>
                                            <!--end::Link-->
                                        </div>
                                        <!--end::Wrapper-->




                                    </div>
                                    <!--end::Card body-->



                                </div>
                                <!--end::Card-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->


                    </div>

                    <div>

                        <h1 class="text-white">Federated Learning For EveryOne</h1>

                    </div>
                    <!--end::Menu-->
                    <!--begin::Footer-->
                    <div class="d-flex flex-column-auto flex-center">
                        <!--begin::Navs-->
                        <ul class="menu fw-bold order-1">
                            <li class="menu-item">
                                <a href="" target="_blank" class="menu-link text-white opacity-50 opacity-100-hover px-3">About</a>
                            </li>
                            <li class="menu-item">
                                <a href="" target="_blank" class="menu-link text-white opacity-50 opacity-100-hover px-3">Documentation</a>
                            </li>
                            <li class="menu-item">
                                <a href="" target="_blank" class="menu-link text-white opacity-50 opacity-100-hover px-3">Support</a>
                            </li>
                            <li class="menu-item">
                                <a href="" target="_blank" class="menu-link text-white opacity-50 opacity-100-hover px-3">Home</a>
                            </li>
                        </ul>
                        <!--end::Navs-->
                    </div>
                    <!--end::Footer-->
                </div>
                <!--begin::Content-->
            </div>
            <!--begin::Content-->
            <!--end::Sidebar-->
        </div>
        <!--end::Page-->
        <!--begin::Modals-->
        <!--begin::Modal - Create Project-->
        <div class="modal fade" id="kt_modal_create_project" tabindex="-1" aria-hidden="true">
            <!--begin::Modal dialog-->
            <div class="modal-dialog modal-fullscreen p-9">
                <!--begin::Modal content-->
                <div class="modal-content">
                </div>
                <!--end::Modal content-->
            </div>
            <!--end::Modal dialog-->
        </div>
        <!--end::Modal - Create Project-->
        <!--begin::Modal - Create account-->
        <div class="modal fade" id="kt_modal_create_account" tabindex="-1" aria-hidden="true">
            <!--begin::Modal dialog-->
            <div class="modal-dialog modal-fullscreen p-9">
                <!--begin::Modal content-->
                <!--end::Modal content-->
            </div>
            <!--end::Modal dialog-->
        </div>
        <!--end::Modal - Create project-->
        <!--end::Modals-->
    </div>


    <!--end::Main-->
    <script>var hostUrl = "assets/";</script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>